$primary_color: #0A8FE6;
$primary_color_darken: #0F60CA;
$secondary_color: #A84BFF;
$heading_color: #00243C;
$text_color: #4A6474;
$secondary_color_dark: #051f3b;
$muted_color: #eee;
$danger_color: #FF2C5E;